[submodule "bundle/clojure"]
	path = bundle/clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
