[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/dirdiff"]
	path = bundle/dirdiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/stl-ref"]
	path = bundle/stl-ref
	url = git://github.com/vim-scripts/stlrefvim.git
[submodule "bundle/omni-cpp-complete"]
	path = bundle/omni-cpp-complete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git://github.com/vim-scripts/scala.vim.git
